
body {
	margin: auto;
	padding: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
}

h2 {
	color: #009908;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}
#moves {
	color: #009908;
}
#board {
	margin: auto;
	width: 216px;
	margin-left: 315px;
}

.board_cell {
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid #000;
}

.board_cell select{
	margin-top: 25px;
}

.break {
	clear: both;
}

#content {
    margin: auto;
    text-align: center;
	padding: 10px;
	width: 60%;
}